<aside class="main--sidebar sidebar--left">

  <article class="main--sidebar--content-box content--container">
    <h3>About Eversoul</h3>
    {{site.description}}
    <a href="/about">Learn More</a>
  </article>

  <article class="main--sidebar--content-box content--container">
    <h3>Webrings</h3>
    <div class="webrings">
      <h4>Hotline Webring</h4>
      <nav>
        <a href="https://hotlinewebring.club/eversoul/previous">Previous</a>
        <a href="https://hotlinewebring.club/eversoul/next">Next</a>
      </nav>
      <h4>null webring</h4>
      <nav>
        <script src="https://nuthead.neocities.org/ring/ring.js"></script>
      </nav>
      <h4>dinhe webring</h4>
      <nav>
        <a href='https://webring.dinhe.net/prev/https://eversoul.neocities.org'>Previous</a>
        <a href='https://webring.dinhe.net/next/https://eversoul.neocities.org'>Next</a>
      </nav>
    </div>
  </article>

</aside>