<aside class="main--sidebar sidebar--inner">

  <article class="main--sidebar--content-box content--container">
    <h3>The Creator</h3>
        My name is ReduxFlakes. 
        I'm an open source Android app developer, web
        developer, app translator, and <em>designer</em> that loves the old/indie web!.
            <hr/>
    <h3>Social</h3>
    <nav class="nav__cloud">
      <ul role="list">
        {% for navItem in social.navItems %}
          <li>
            <a rel="me" target="_blank" href="{{ navItem.url }}">{{ navItem.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </article>
</aside>