<aside>
    {% if slots.sidebar %}
        {% renderTemplate 'njk,md',
        slots %}
        {{ sidebar | safe }}
        {% endrenderTemplate %}
    {% else %}
        {% include "toc.njk" %}
    {% endif %}
</aside>