<footer class="app-footer">
    <ul style="display: flex;list-style-type:none;padding:0;gap:0.5em;image-rendering:pixelated;">
        <li>
            <a href="https://surfscape.neocities.org"><img src="/static/images/branding/buttons/surfscape_landscape.png" alt="SurfScape landscape 88x31 button"></a>
        </li>
        <li>
            <a href="https://surfscape.neocities.org"><img src="/static/images/branding/buttons/surfscape_v1.png" alt="SurfScape branding version 1 88x31 button"></a>
        </li>
        <li>
            <a href="https://surfscape.neocities.org"><img src="/static/images/branding/buttons/surfscape_v2.png" alt="SurfScape branding version 1 88x31 button"></a>
        </li>
        <li>
            <a href="https://neocities.org/site/surfscape"><img src="/static/images/buttons/neocities.gif" alt="Neocities 88x31 button"></a>
        </li>
        <li>
            <a href="https://lastroseofsummer.neocities.org"><img src="/static/images/buttons/lrs.gif" alt="Last Rose of Summer"></a>
        </li>
        <li>
            <a href="https://32bit.cafe/"><img src="/static/images/buttons/32bitcafe.png" alt="32-bit cafe"></a>
        </li>
        <li>
            <a href="https://openbooks.neocities.org"><img src="/static/images/buttons/openbooks.gif" alt="OpenBooks version 11 88x31 button"></a>
        </li>
        <li>
            <a href="https://fosstodon.org/@surfscape" rel="me"><img src="/static/images/buttons/mastodon.gif" alt="Mastodon 88x31 button"></a>
        </li>
        <li>
            <a href="https://yesterweb.org/no-to-web3/" ><img src="/static/images/buttons/noweb3.gif" alt="No web 3 88x31 button"></a>
        </li>
    </ul>

    <nav>
        <a href="https://github.com/surfscape/web-portal/edit/main/{{ page.inputPath }}">
            <b>Edit page</b> (GitHub)</a>
|
<a href="/about/">About</a>
|
<a href="/about/contact/">Contact</a>
|
<a href="/about/accessibility/">Accessibility</a>
|
<a href="/tos/">Terms of Service</a>
|
<a href="/privacy/">Privacy Policy</a>
|
<a href="https://github.com/surfscape" rel="me">GitHub</a>
    </nav>
    <p class="site-footer__copy">&copy; 2024 SurfScape | Content licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0 DEED</a>. Website licensed under <a href="https://raw.githubusercontent.com/surfscape/web-portal/refs/heads/main/LICENSE">GPL-2.0</a>.
    </a>
</p>
</footer>