<footer class="app-footer">
    <nav>
        <a href="https://github.com/surfscape/web-portal/edit/main/{{ page.inputPath }}">
            <b>Edit page</b> (GitHub)</a>
|
<a href="/about">About</a>
|
<a href="/about/contact">Contact</a>
|
<a href="/tos">Terms of Service</a>
|
<a href="/privacy-policy">Privacy Policy</a>
|
<a href="https://fosstodon.org/@surfscape" rel="me">Mastodon</a>
|
<a href="https://github.com/surfscape" rel="me">GitHub</a>
    </nav>
    <p class="site-footer__copy">&copy; 2024 SurfScape | Content licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0 DEED</a>. Website licensed under <a href="https://raw.githubusercontent.com/surfscape/web-portal/refs/heads/main/LICENSE">GPL-2.0</a>.
    </a>
</p>
</footer>