<footer class="site-footer sk-content">
    <h2>Navigation</h2>
    <nav class="footer-nav">
        {% for sitemapNav in nav.sitemapNav %}
            <nav>
                <h3 class="footer-nav-title">{{sitemapNav.title}}</h3>
                <ul class="footer-nav-list">
                    {% for link in sitemapNav.links %}
                        <li>
                            <a class="footer-nav-list__link sk-link" href="{{link.url}}">{{link.title}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endfor %}
    </nav>
    <p class="site-footer__copy">&copy; 2021 - 2024 SurfScape | Content licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0 DEED</a>
    </p>
</footer>