<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light"/>
    <meta name="CCBot" content="nofollow">
    <meta name="robots" content="noai, noimageai">
    <meta name="tdm-reservation" content="1">

    <title>{{ title }} | {{ meta.title }}</title>
    <meta name="description" content="{% if description %}{{description}}{% else %}{{ meta.description }}{% endif %}">
    <base href="{{page.url}}">
    <link rel="canonical" href="{{meta.url}}">
    <link rel="author" href="/humans.txt">
    <link rel="shortcut icon" href="/static/favicon.svg" type="image/x-icon">

    <meta property="og:url" content="{{meta.url}}{{ page.url }}">
    <meta property="og:title" content="{%- if title -%}{{title}}{%- else -%}{{meta.title}}{%- endif -%}">
    <meta property="og:site_name" content="{{ meta.title }}"/>
    <meta property="og:description" content="{%- if description -%}{{description}}{%- else -%}{{meta.description}}{%- endif -%}">
    <meta property="og:locale" content="{{meta.lang}}">
    <meta property="article:author" content="{{ meta.webmaster.name }}"/>
    <meta name="generator" content="{{ eleventy.generator }}"/>
    {% css %}
    {% include "styles/critical.css" %}
    {% endcss %}
    <style>
        {% getBundle "css" %}
    </style>
    {% css "surfkit" %}
    {% include "styles/index.css" %}
    {% include "styles/modules/layout.css" %}
    {% endcss %}
    {% if not documentation %}
        <link rel="stylesheet" href="{% getBundleFileUrl 'css', 'modules'%}">
    {% endif %}
    <link rel="stylesheet" href="{% getBundleFileUrl 'css', 'surfkit' %}">
    {% if style_slot %}
        {% renderTemplate 'njk,md',
        slots %}
        {{ style_slot | safe }}
        {% endrenderTemplate %}
    {% endif %}
</head>