<aside class="main--sidebar sidebar--inner">
  {% if page.url == "/" %}
    <section class="main--sidebar--content-box content--container">
      <h3>In Construction!</h3>
      <article>
Please note that Eversoul is currently in the early stages of development. As a result, some of our services and pages may still be unfinished, and you may encounter occasional grammar errors or bugs. We are working diligently to address these issues and appreciate your patience and understanding as we continue to improve our platform.
        </article>

    </section>
  {% endif %}

  {% if (page.url != "/" and page.url.startsWith("/about/")) or page.url == "/about/"%}
    <section class="main--sidebar--content-box content--container">
      <h3>Also in this page:</h3>
      <nav>
        {% for about in related.about %}
          <a class="link__button" href="{{ about.url }}">{{ about.name }}</a>
        {% endfor %}
      </nav>
    </section>
  {% endif %}
</aside>