<nav class="main-nav">
    {% for mainNav in nav.mainNav %}
        <a class="main-nav__link" href="{{mainNav.url}}"><img src="/static/icons/32/{{mainNav.icon}}.png" alt="{{mainNav.title}} icon" class="icon" style="width:18px;height:18px;">{{mainNav.title}}</a>
    {% endfor %}
</nav>