<nav class="accent--container">
    <ul class="main--nav--list no--mar--pad" role="list">
        {% for navItem in nav.navItems %}
            {% if navItem.subLinks %}
                <li>
                    <details class="main__nav__dropdown">
                        <summary>{{ navItem.title }}</summary>
                        <nav class="main__nav__dropdown__inner">
                            {% for subLink in navItem.subLinks %}
                                <a class="nav__link" href="{{ subLink.url }}">{{ subLink.title }}</a>
                            {% endfor %}
                        </nav>
                    </details>
                </li>
            {% else %}
                <li>
                    <a class="nav__link" href="{{ navItem.url }}" {% if (navItem.url != "/" and page.url.startsWith(navItem.url)) or page.url == navItem.url %}aria-current="page"{% endif %}>{{ navItem.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>