{% if navigation %}
    <nav class="sk-navbar">
        {%- for item in navigation -%}
            <a  class="sk-navbar__link" href="{{ item.url }}" {% if page.url == item.url %}aria-current="page"{% endif %}>{{ item.title }}</a>
        {%- endfor -%}
    </nav>
{% endif %}