<div class="global--action--bar flex">
    <form class="action--bar--form flex flex--center gap--xsm">
        <img src="/assets/icon/searchbar.png" alt="Search Logo">
        <label>Search the web! </label>
        <input type="text" class="search__input">
        <button class="fancy--button--subtle" type="submit" onclick="searchValue()">Search &#187;</button>
    </form>
    <div class="mobile action--bar--section flex flex--center">
        <select class="select--links" id="links" onchange="goToLink()">
            <option value="0">Go to...</option>
            {% for category, links in nav.selectMenu[0] %}
                <optgroup class="select--links__option__heading" label="{{ category|capitalize }}">
                    {% for link in links %}
                        <option value="{{ link.url }}">{{ link.title }}</option>
                    {% endfor %}
                </optgroup>
            {% endfor %}
        </select>
    </div>
</div>

<script>
    function searchValue() {
        const searchInput = document
            .getElementsByClassName("search__input")[0]
            .value;
        window.open(`https://duckduckgo.com/?q=${searchInput}`, "_blank");
    }
    function goToLink() {
        const selectElement = document.getElementById("links");
        const selectedValue = selectElement.value;
        if (selectedValue !== "") {
            window.location.href = selectedValue;
        }
    }
</script>