<div id="warningModal" class="sk-window">
    <div class="sk-modal">
        <header class="sk-headerbar">
            <ion-icon name="settings-outline"></ion-icon>
            <h1 class="sk-headerbar__title">SurfScape Lab</h1>
            <button class="close" id="closeButton">
                <ion-icon name="close"></ion-icon>
            </button>
        </header>
        <div class="sk-modal-content">
            <h2 class="label">Theme</h2>
            <input type="radio" name="Light" id="setLight">
            <label for="Light">Light (Default)</label>
            <input type="radio" name="Dark" id="setDark">
            <label for="Dark">Dark</label>
            <input type="radio" name="System" id="setSystem">
            <label for="System">System</label>
            <input type="radio" name="Nord" id="setNord">
            <label for="Nord">Nord (by User123)</label>
            <h2 class="label">Fluent Layers</h2>
            <p>By default SurfKit comes with blurred elements turned on by default. If you find this distracting or heavy on usage, you can disable them here. <input type="checkbox"></p>
            <h2 class="label">Advanced Layers (beta)</h2>
            <p>Simulates blurred layers on iOS and HyperOS which saturates the background on fluent layers. <input type="checkbox"></p>
        </div>
    </div>
</div>