<aside class="sidebar sidebar_right">
  <div class="pod">
    <h3 class="pod_title">Navigation</h3>
    <nav>
      <ul>
        {% for navItem in nav.navItems %}
          <li>
            <a href="{{ navItem.url }}">{{ navItem.title }}</a>
          </li>
          {% if navItem.subNav %}
            <li class="inner_list">
              <ul>
                {% for subNavItem in navItem.subNav %}
                  <li>
                    <a href="{{ subNavItem.url }}">{{ subNavItem.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>

  <div class="pod">
    <h3 class="pod_title">Cyberspace [soon]</h3>
    <nav>
      <ul>
        {% for cyberItem in nav.cyberItems %}
          <li>
            <a href="{{ cyberItem.url }}">{{ cyberItem.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>

  <div class="pod">
    <h3 class="pod_title">Community [soon]</h3>
    <nav>
      <ul>
        {% for ircItem in nav.ircItems %}
          <li>
            <a href="{{ ircItem.url }}">{{ ircItem.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>

  <div class="pod">
    <h3 class="pod_title">Projects</h3>
    <nav>
      <ul>
        {% for projectsItem in nav.projectsItems %}
          <li>
            <a href="{{ projectsItem.url }}">{{ projectsItem.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</aside>