<aside class="sidebar">

  <article>
    <h3>Webmaster</h3>
        My name is ReduxFlakes, I am an open source Android app developer, web
        developer, app translator, and <em>designer</em>.
        <a href="/about">More about me</a>
    <h4>Social Cloud</h4>
    <nav class="nav__cloud">
      <ul role="list">
        {% for navItem in social.navItems %}
          <li>
            <a rel="me" target="_blank" href="{{ navItem.url }}">{{ navItem.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </article>

  <article>
    <h3>Webrings</h3>
    <div class="webrings">
      <h4>Hotline Webring</h4>
      <nav>
        <a href="https://hotlinewebring.club/eversoul/previous">Previous</a>
        <a href="https://hotlinewebring.club/eversoul/next">Next</a>
      </nav>
      <h4>null webring</h4>
      <nav>
        <script src="https://nuthead.neocities.org/ring/ring.js"></script>
      </nav>
      <h4>dinhe webring</h4>
      <nav>
        <a href='https://webring.dinhe.net/prev/https://eversoul.neocities.org'>Previous</a>
        <a href='https://webring.dinhe.net/next/https://eversoul.neocities.org'>Next</a>
      </nav>
    </div>
  </article>

  <article>
    <h3>Music Player</h3>
    <div class="audio--wrapper">
      <audio controls id="player" onended="playNext()">
        <source src="/assets/music/theme_1.mp3" type="audio/mpeg">
      </audio>
      <button onclick="playNext()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </button>
      <script>
        var currentTrack = 0;
        var tracks = ["/assets/music/theme_1.mp3", "/assets/music/theme_2.mp3", "/assets/music/theme_3.mp3", "/assets/music/theme_4.mp3"];

        function playNext() {
          var audio = document.getElementById("player");
          currentTrack = (currentTrack + 1) % tracks.length;
          audio.src = tracks[currentTrack];
          audio.play();
        }
      </script>
    </div>
    <a href="https://home96.bandcamp.com/album/resting-state">Full album</a>
  </article>
</aside>