<div class="toolbar subtle">
    <a href="/">SurfScape</a>
    <nav class="mobile">
        {# <a href="/preview/abouthomepage">About our new home page</a> #}
        |
        <a href="/sitemap.xml">Sitemap</a>
    </nav>
</div>