<div class="app-toolbar full-width">
    <nav>
        <a href="/" class="sk-button sk-button--small">
            <span class="ic--round-new-releases"></span>What's new in version 3</a>
        <a href="/live" class="sk-button sk-button--small">LIVE Network</a>
        <a href="/tas" class="sk-button sk-button--small">TSA</a>
    </nav>
</div>