<div class="toolbar">
    <a href="/">SurfScape</a>
    <nav class="toolbar-nav mobile" style="margin-left:auto;">
        <a class="toolbar-nav__link icon-link" href="/preview/abouthomepage">
            <img src="/static/icons/16/new.png" alt="New" class="icon">About our new home page</a>
        |
        <a class="toolbar-nav__link icon-link" href="/accessibility">
            <img src="/static/icons/16/contrast.png" alt="Accessibility" class="icon">Accessibility</a>
        |
        <a class="toolbar-nav__link icon-link" href="/uservoice">
            <img src="/static/icons/16/microphone.png" alt="Accessibility" class="icon">Uservoice</a>
        |
        <a class="toolbar-nav__link icon-link" href="/sitemap.xml">
            <img src="/static/icons/16/sitemap.png"  alt="Sitemap" class="icon">Sitemap
        </a>
    </nav>
</div>