{%- macro postCard(title, date, description, url) -%}
    <li>
        <a href="{{ url }}" class="post-card">
            <h1 class="post-card-header">{{ title }}
                <time class="post-card__time" datetime="{{ date }}">{{ date | PostDate }}</time>
            </h1>
            <p  class="post-card__description">{{ description }}</p>
        </a>
    </li>
{%- endmacro -%}