---
title: Page not found
layout: page.njk
permalink: "/not_found/"
eleventyExcludeFromCollections: true
---

<p>The url: <code id="url"></code> doesn't seem to exist in the server.</p>

<a href="/" class="sk-button">{% icon "phosphor:house-fill" %} Go back home</a>

<script>
  document
    .getElementById("url")
    .innerHTML = document.URL;
</script>