::selection {
  background: rgba(74, 183, 238, 0.3);
  color: #0b79af;
}

a {
  color: var(--primary);
  text-decoration: 1px solid inherit;
}

a:hover {
  text-decoration: none;
}

a:focus-visible {
  box-shadow: 0 0 0 4px #5a75b4;
  outline: 2px solid #a2d1ff;
}

h1 {
  font-size: var(--type-xxlg);
}

h2 {
  font-size: var(--type-xlg);
}

h3 {
  font-size: var(--type-lg);
}

h4 {
  font-size: var(--type-xxm);
}

h5 {
  font-size: var(--type-xm);
}

h6 {
  font-size: var(--type-m);
}

small {
  font-size: var(--type-sm);
}

.header-anchor {
  visibility: hidden;
  opacity: 0;
  transition: all 120ms ease-in-out;
}

h2:hover > .header-anchor,
h3:hover > .header-anchor,
h4:hover > .header-anchor,
h5:hover > .header-anchor,
h6:hover > .header-anchor {
  visibility: visible;
  opacity: 1;
}
