*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
  font-style: italic;
}

iframe {
  border: 0;
}

input,
button {
  font: inherit;
}
button,
summary {
  cursor: pointer;
  background: none;
  border: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: "Inter";
  src: local("Inter Italic"), local("Inter"),
    url("/static/fonts/Inter-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Regular"), local("Inter"),
    url("/static/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter SemiBold"), local("Inter"),
    url("/static/fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter SemiBold Italic"), local("Inter"),
    url("/static/fonts/Inter-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

:root {
  --base-font: "Inter", "Helvetica", system-ui, "Segoe Ui", "Roboto", "Ubuntu",
    "Cambria", "Noto Sans", "San Francisco", Arial, sans-serif;
}

body {
  background: var(--background);
  color: var(--on-surface--1);
  font: var(--type-m) / 1.5 var(--base-font);
}
