*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
  font-style: italic;
}

iframe {
  border: 0;
}

input,
button {
  font: inherit;
}
button,
summary {
  cursor: pointer;
  background: none;
  border: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: "Geist";
  src: local("Geist"),
    url("/static/fonts/geist.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --base-font: "Geist", "Inter", "Helvetica", system-ui, "Segoe Ui", "Roboto",
    "Ubuntu", "Cambria", "Noto Sans", "San Francisco", Arial, sans-serif;
}

body {
  color: var(--text);
  font: var(--type-m) / 1.5 var(--base-font);
  letter-spacing: -0.025em;
  background: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: 600;
  color: var(--text-strong);
  line-height: 1.2;
}
