.app-wrapper {
  margin: 0 auto;
  max-width: var(--viewport);
  padding: 1rem;
}

.app-header {
  border-bottom: 1px solid var(--muted);
}

.app-navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75em;
  padding-block: 0.5em;
}

.app-navbar a {
  font-size: 1.1em;
  padding-inline: 0.25em;
  text-decoration: none;
  color: var(--type-base);
  font-family: var(--heading-font);
  transition: 150ms all ease-in-out;
}

.app-navbar a:hover {
  color: var(--primary);
}

.app-navbar a[aria-current="page"] {
  outline: 1px solid var(--primary);
  color: var(--primary);
}

.home-container,
.page-container {
  display: grid;
  gap: 1em;
  padding-block: 1em;
}

.page-container > article ul * + *,
.page-container > article ol * + *,
.home-container > article ul * + *,
.home-container > article ol * + * {
  --_space: var(--spacer, 0.5em);
  margin-top: var(--_space);
}

.page-container > aside,
.home-container > aside {
  margin-block-start: 1em;
  padding-block-start: 1em;
  border-top: 1px dotted var(--muted);
}

.app-footer {
  padding-block-start: 0.5rem;
  border-top: 1px solid var(--muted);
}

.app-footer nav {
  padding-block-start: 0.5rem;
  padding-block-end: 0.5rem;
}

.aside-quickies {
  padding: 0;
  list-style: none;
}

.aside-quickies li > b {
  display: block;
  font-size: 1.05em;
}

.page-footer {
  border-top: 1px dotted var(--muted);
  padding-block-start: 1rem;
}

.home-container > *,
.page-container > * {
  min-width: 0;
}

@media (min-width: 750px) {
  .home-container,
  .page-container {
    grid-template-columns: 1fr 16em;
    grid-template-rows: auto 1fr;
  }

  .home-container {
    grid-template-areas:
      "header aside"
      "content aside";
  }

  .page-container {
    grid-template-areas:
      "header aside"
      "content aside"
      "footer footer";
  }

  .page-container > header,
  .home-container > header {
    grid-area: header;
  }

  .page-container > article,
  .home-container > article {
    grid-area: content;
  }

  .page-container > aside,
  .home-container > aside {
    padding-inline-start: 1em;
    grid-area: aside;
    align-self: start;
    position: sticky;
    top: 0;
  }

  .page-container > footer {
    grid-area: footer;
  }
}
