@media (min-width: 740px) {
  .navbar-container a[href="#navbar"] {
    display: none;
  }
}

@media (max-width: 564px) {
  .app-toolbar.full-width {
    display: none;
  }
  .app-header {
    gap: 0rem;
    justify-content: center;
  }
}
