:root {
  --type--1: clamp(0.8889rem, 0.8148rem + 0.3704vw, 1rem);
  --type-0: clamp(1rem, 0.9167rem + 0.4167vw, 1.125rem);
  --type-1: clamp(1.125rem, 1.0313rem + 0.4688vw, 1.2656rem);
  --type-2: clamp(1.2656rem, 1.1602rem + 0.5273vw, 1.4238rem);
  --type-3: clamp(1.4238rem, 1.3052rem + 0.5933vw, 1.6018rem);
  --type-4: clamp(1.6018rem, 1.4683rem + 0.6674vw, 2.25rem);
  --type-5: clamp(1.802rem, 1.1371rem + 3.3244vw, 2.7994rem);

  --heading-font: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052,
    serif;
  --base-font: system-ui, "Inter", "Helvetica", "Segoe UI", "Ubuntu", "Roboto",
    "Cantarell", "Noto Sans", "San Francisco", sans-serif;

  --viewport: 1024px;
  --background: hsl(220, 3%, 19%);
  --primary: hsl(214, 52%, 50%);
  --primary-state: hsl(214, 50%, 55%);
  --type-base: hsl(0, 0%, 98%);
  --type-subtle: hsl(0, 0%, 84%);
  --muted: hsl(0, 0%, 34%);

  --rad-1: 0.3rem;
  --rad-2: 0.6rem;
  --rad-3: 0.9rem;
}
