.sk-navbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5em 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.sk-navbar__link[aria-current="page"] {
  color: var(--type-base);
  text-decoration: none;
}

.sk-button,
button {
  --_sk-btn-bg: var(--sk-btn-bg, var(--sk-color-accent));
  --_sk-btn-color: var(--sk-btn-color, var(--sk-color-on-accent));
  --_sk-btn-border: var(--sk-btn-border, var(--sk_sk-btn-bg));
  display: flex;
  align-items: center;
  width: max-content;
  padding: 0.5em 0.75em;
  background: var(--primary);
  color: white;
  text-decoration: none;
  cursor: pointer;
  gap: 0.5em;
  transition: 150ms all ease-in-out;
}

.sk-button:hover,
button:hover {
  --_sk-btn-bg-hover: var(--sk-btn-bg-hover, var(--sk-color-accent--state));
  --_sk-btn-color-hover: var(--sk-btn-color-hover, var(--sk-color-on-accent));
  --_sk-btn-border-hover: var(--sk-btn-border-hover, var(--sk-btn-bg-hover));
  background: var(--muted);
  color: var(--type-base);
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}

.sk-button svg,
button svg {
  width: 1em;
  height: 1em;
}

.sk-button:active,
button:active {
  outline-color: var(--type-base);
}

.sk-btnrow {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

hr {
  border: none;
  border-bottom: 1px solid var(--sk-color-outline);
}
blockquote {
  padding: 0.25em 1em 0.25em 1em;
  background: rgb(221, 221, 221);
  border-left: 0.5em solid var(--primary);
}
summary {
  cursor: pointer;
}

.sk-card-list {
  list-style-type: none;
  padding: 0;
}

.sk-card-list li {
  padding: 0.75rem;
  border: 1px solid var(--muted);
}

.sk-card-list li h3 {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.sk-label {
  font-size: var(--type--1);
  color: var(--type-subtle);
}

.auto-grid {
  --_min-size: var(--min-size, 200px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--_min-size), 1fr));
}
