<!DOCTYPE html>
<html lang="{{ site.lang }}">
  {% include "basehead.njk" %}
  <body>
    <div class="site--container">
      {% include "toolbar.njk" %}
      <div class="page--container">
        {% include "header.njk" %}
        {% include "nav.njk" %}
        <main>
          {% block surfkit_base_layout %}
            {{ content | safe }}
          {% endblock %}
        </main>
        {% include "footer.njk" %}
      </div>
    </div>
    <script src="/static/scripts/tabs.min.js"></script>
    <script data-goatcounter="https://surfscape.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
  </body>
</html>