<!DOCTYPE html>
<html lang="{{ site.lang }}">
  {% include "basehead.njk" %}
  <body>
    <div class="wrapper-md">
      {% include "header.njk" %}
      <main class="page-container">
        {% include "pageNavigation.njk" %}
        {% block surfkit_base_layout %}
          {{ content | safe }}
        {% endblock %}
      </main>
      {% include "footer.njk" %}
    </div>
    {% if style_slot %}
      {% renderTemplate 'njk,md',
      slots %}
      {{ style_slot | safe }}
      {% endrenderTemplate %}
    {% endif %}
    <script src="/static/scripts/tabs.min.js"></script>
    <script data-goatcounter="https://surfscape.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>