<!DOCTYPE html>
<html lang="{{ site.lang }}">
  {% include "head.njk" %}
  <body class="app-wrapper">
    {% include "header.njk" %}
    {% include "pageNavigation.njk" %}
    <main class="page-container">
      <header>
        {% if header_title %}
          {% set hd_header = header_title %}
        {% else %}
          {% set hd_header = title %}
        {% endif %}
        <h1 id="{{hd_header| slugify}}" tabindex="-1">{{hd_header}}
          <a href="#{{hd_header| slugify}}" class="header-anchor">#</a>
        </h1>
        <p></p>
      </header>
      <article class="stack">
        {{ content | safe }}
      </article>
      {% include "aside.njk" %}
    </main>
    {% include "footer.njk" %}
  </body>
</html>