{% extends "./base.njk" %}

{% block content %}
    <div class="layout-box-pg" >
        <article id="main">
            <h1 class="display" style="display:flex;flex-direction:column;">
                <a href="/blog" style="font-size: 0.5em;color:inherit;opacity:0.8;">SurfScape Blog</a>
                {{ title }}</h1>
            <span ">From: {{author}} - Posted on: {{date | PostDate}}
                {% if update %}- Updated in: {{update}}
                {% endif %}
            </span>
            <img style="margin-top: var(--spacing);" src="/static/images/blog/{{title | slugify}}/banner.webp" alt="{{title}} banner" class="banner">
            {{ content | safe }}
        </article>
        {% include "sidebar.njk" %}
    </div>
{% endblock %}