{% extends "./base.njk" %}

{% block content %}
    <div class="layout-box-lr">
        <article id="main">
            <div class="feature-grid">
                <a href="{{mainad_link}}" class="main-ad">
                    <img src="/static/images/banners/{{mainad_image}}.webp" alt="{{mainad_title}}">
                </a>
                <a href="{{altad_link}}" class="alt-ad">
                    <img src="/static/images/banners/{{altad_image}}.webp" alt="{{altad_image}}">
                </a>
            </div>
            {{ content | safe }}
        </article>
        {% include "sidebar.njk" %}
    </div>
{% endblock %}