{% extends "./base.njk" %}

{% block surfkit_base_layout %}
  {% if navigation %}
    <header class="sk-header">
      <span class="sk-header__title">{{header_title}}</span>
      <nav class="sk-navbar">
        {%- for item in navigation -%}
          <a  class="sk-navbar__link" href="{{ item.url }}" {% if page.url == item.url %}aria-current="page"{% endif %}>{{ item.title }}</a>
        {%- endfor -%}
      </nav>
    </header>
  {% endif %}
  {% block main_content %}
    <div class="hero">
      <h1 class="display__2">{{hero_title}}</h1>
      <p class="subtitle__2">{{hero_description}}</p>
      <img src="" alt="">
    </div>
    <article class="sk-layout--content">
      {{ content | safe }}
    </article>
  {% endblock main_content %}
{% endblock %}