{% extends "./base.njk" %}

{% block page_layout %}
  <main class="page-container" id="main-content">
    <header>
      {% if header_title %}
        {% set hd_header = header_title %}
      {% else %}
        {% set hd_header = title %}
      {% endif %}
      <h1 id="{{hd_header| slugify}}" tabindex="-1">{{hd_header}}
        <a href="#{{hd_header| slugify}}" class="header-anchor">#</a>
      </h1>
      <p></p>
    </header>
    {% include "aside.njk" %}
    <article class="stack">
      {{ content | safe }}
    </article>
    {% if update or archived == true %}
      <footer class="page-footer">
        {% if update %}
          <p>Last update: {{ update | formatLocaleDate }}</p>
        {% endif %}
        {% if archived == true %}
          <p>See <a href="/arc{{page.url}}">archive</a> for this page</p>
        {% endif %}
      </footer>
    {% endif %}
  </main>
{% endblock %}