{% extends "./base.njk" %}

{% block surfkit_base_layout %}
  <header class="page-header page-header--post">
    <h1 class="display__1">{{title}}</h1>
    <p class="subtitle__1">{{description}}</p>
    <time datetime="{{date}}">{{ date | PostDate }}</time>
  </header>
  <article class="sk-content sk-content--modified">
    {{ content | safe }}
  </article>
{% endblock %}