{% extends "./base.njk" %}

{% block surfkit_base_layout %}
  {% include "pageNavigation.njk" %}
  {% block main_content %}
    <header class="sk-panel-header">
      <h1 class="sk-panel-header__title" id="{{ title | slugify }}">
        {{post_type}} - {{title}}
      </h1>
      <div class="sk-panel-options">
        <button class="sk-panel-button" onclick="copyShare()">
          <img src="/static/icons/32/share.png" alt="Open share icon"/>Share
    </button>
      </div>
    </header>
    <article class="sk-layout--content">
      {{ content | safe }}
    </article>
  {% endblock main_content %}
{% endblock %}