{% extends "./base.njk" %}

{% block page_layout %}
  <main class="page-container" id="main-content">
    <header class="post-header">
      {% set hd_header = title %}
      <h1 id="{{hd_header| slugify}}" tabindex="-1">{{hd_header}}
        <a href="#{{hd_header| slugify}}" class="header-anchor">#</a>
      </h1>
      <p>
        <time datetime="{{date}}">{{date | formatPostDate}}</time> | Reading Time: {{ content | readingTime }}</span>
    </p>
  </header>
  <article class="stack">
    {{ content | safe }}
  </article>
  {% include "aside.njk" %}
  {% if update %}
    <footer class="page-footer">
      <p>Last update: {{ update | formatLocaleDate }}</p>
    </footer>
  {% endif %}
</main>
{% endblock %}