{# content only pages #}
{% extends "./base.njk" %}

{% block surfkit_base_layout %}
    <header class="page-header">
        <h1>{{title}}</h1>
        {% if date %}
            <p>Last update: <time datetime="{{date}}">{{ date | PostDate }}</time>
                {% if revision %} | Revision: {{revision}}
                {% endif %}
            </p>
        {% endif %}
    </header>
    <hr>
    <article class="sk-content sk-content--modified">
        {{ content | safe }}
    </article>
{% endblock %}