<!DOCTYPE html>
<html lang="{{ site.lang }}">
    {% include "basehead.njk" %}
    <body>
        <div class="site-container">
            <main class="page-container">
                {{ content | safe }}
            </main>
        </div>
        <script src="/static/scripts/tabs.min.js"></script>
        <script data-goatcounter="https://surfscape.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
    </body>
</html>