{% extends "./page.njk" %}

{% block custom %}
{{ content | safe }}
<style>
  h2,h3 {
    margin: 0;
    font-weight: 300;
  }
  h3 {
    margin-top: var(--spacing-xsm);
    padding: var(--spacing-xsm) 0;
    border-top: 1px solid var(--clr-border);
  }
  ul {
    margin: 0;
  }
</style>

{% endblock %}