/* TODO: Move to SurfKit */
img:not([alt]) {
  filter: blur(10px);
}

/* website main header */
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--sk-color-outline);
}

.site-header__title {
  flex-shrink: 0;
  transition: var(--an-global-ease);
}

.site-header__title:hover {
  scale: 1.025;
}

.site-header__title:active {
  scale: 0.99;
}

/* main header navigation */
.site-navbar {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  gap: 0.25em;
  padding-block: 0.5em;
}

.site-navbar__link {
  white-space: nowrap;
  flex-wrap: nowrap;
  min-width: fit-content;
  white-space: nowrap;
  padding-inline: 0.6em;
  padding-block: 0.3em;
  border-radius: var(--btn-radius);
  color: var(--clr-tp__muted);
  border: 1px solid transparent;
  transition: var(--an-global-ease);
  text-decoration: none;
}

.site-navbar__link:hover {
  color: var(--sk-color-tp-body);
  background: var(--sk-color-surface--state);
}

.site-navbar__link[aria-current="page"] {
  font-weight: 500;
  color: var(--clr-tp__heading);
}

/* footer */
.site-footer {
  padding: 1rem;
  border-top: 1px solid var(--sk-color-outline);
}
.footer-nav {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
  gap: 1em;
}
.footer-nav-section-navbar {
  display: flex;
  flex-direction: column;
}
.footer-nav-section-navbar__link {
  color: var(--clr-tp__muted);
  font-size: 0.9em;
}

.site-footer__copy {
  text-align: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 2rem 1rem 1rem 1rem;
  max-width: 100%;
}

.hero--title {
  max-width: 45ch;
  line-height: 1;
}

.hero--subtitle {
  max-width: 48ch;
  flex-basis: 0;
  flex-grow: 0;
}

.hero--banner {
  width: 100%;
  max-width: 34rem;
}

.posts-list {
  display: grid;
  gap: 1em;
}

.page-header {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: 65ch;
  margin: 0 auto;
  padding: 1em;
}

.page-header--post {
  text-align: center;
  border-bottom: 1px solid var(--sk-color-outline);
}

.post-card {
  display: block;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background: var(--sk-color-surface);
  text-decoration: none;
  outline: 0.2em solid transparent;
  transition: var(--an-global-ease);
}

.post-card:hover {
  outline-color: var(--sk-color-surface);
}

.post-card-header {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0.25em;
  transition: var(--an-global-ease);
}

.post-card:hover .post-card-header {
  color: var(--sk-color-primary);
}

.post-card__time {
  font-weight: 400;
  font-size: 1rem;
  color: var(--clr-tp__muted);
}

.post-card__description {
  color: var(--sk-color-tp-body);
}

.table-responsive {
  overflow-x: auto;
}

figure {
  display: flex;
  flex-flow: column;
  gap: 0.5em;
}

figcaption {
  color: var(--sk-color-on-accent-container);
  opacity: 0.8;
  font-size: 0.9em;
  font-style: italic;
  text-align: center;
}
