@import "surfkit.bundle.css";

/* page headers (with navigation) */
.sk-header {
  position: sticky;
  z-index: 10;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  backdrop-filter: blur(16px);
  padding: 0.25rem 1rem;
  background: var(--clr-sf__backgroundFluent);
  border-bottom: 1px solid var(--clr-sf__stroke);
}

.sk-header__title {
  color: var(--clr-tp__heading);
  font-weight: 600;
  font-size: 1.075em;
  line-height: 2em;
}

.sk-navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.sk-navbar__link {
  line-height: 2em;
  font-size: 0.9em;
  color: var(--clr-tp__body);
}

.sk-navbar__link[aria-current="page"] {
  color: var(--clr-tp__muted);
  text-decoration: none;
}

/* acccordions */
.sk-accordion-nav__title {
  list-style-type: none;
  font-size: 0.95em;
  font-weight: 500;
  user-select: none;
}

.sk-accordion-nav__title::before {
  content: "\2716";
  font-size: 0.8em;
  margin-right: 0.5em;
  display: inline-block;
  rotate: 45deg;
  vertical-align: middle;
  color: var(--clr-tp__muted);
  transition: all 150ms ease-in-out;
}

.sk-accordion-nav[open] .sk-accordion-nav__title::before {
  rotate: 0deg;
}

.sk-accordion-nav[open] .sk-accordion-nav__title {
  margin-bottom: 0.5em;
}

.sk-label {
  display: flex;
  align-items: center;
  gap: 0.5em;
  background: #d8e5ff;
  color: #003192;
  font-weight: 500;
  border-radius: 2em;
  border: 1px solid var(--clr-br__primary);
  padding: 0.3em 0.75em;
  font-size: 0.875em;
  text-decoration: none;
}

.sk-label:hover {
  color: var(--clr-br__primary);
}

.sk-label ion-icon {
  font-size: 1.25rem;
}

/* TODO: Redesign */

sk-tab-container {
  display: block;
}

.sk-tab-content[aria-hidden="true"] {
  display: none;
}

menu.sk-tab-buttons {
  display: flex;
  width: fit-content;
  padding: 0.25em;
  border-radius: 0.3em;
  gap: var(--spacing-xsm);
  background: hsl(240, 5%, 94%);
}

.sk-tab-button {
  cursor: pointer;
  border-radius: 0.15em;
  font-weight: 500;
  color: #71717a;
  transition: 150ms all ease-in-out;
}

.sk-tab-button:disabled {
  opacity: 0.5;
  cursor: default;
}

.sk-tab-button:hover {
  color: var(--clr-tp__body);
}

.sk-tab-button[aria-checked="true"] {
  background: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  color: var(--clr-tp__heading);
}

sk-tab-content-container {
  display: block;
  padding: var(--spacing);
  margin-top: 1rem;
  border: 1px solid var(--clr-sf__stroke);
  border-radius: 0.75rem;
}

/* cards*/
.sk-card {
  background: #f7f7f7;
  border: 1px solid #e9e9e9;
  padding: 1em;
  border-radius: 0.5em;
}

.sk-card > * + * {
  margin-top: 0.4em;
}

.sk-card__bento {
  border-radius: 1rem;
}

.sk-card__outline {
  background: transparent;
  border: 1px solid var(--clr-sf__strokeContrast);
}

/* typography */
.display__1 {
  font-weight: 500;
  font-size: 2.8rem;
  letter-spacing: -0.025em;
  color: var(--clr-tp__heading);
}

.display__2 {
  font-weight: 500;
  font-size: 2.4rem;
  color: var(--clr-tp__heading);
}
.subtitle__1 {
  color: var(--clr-tp__muted);
  font-size: 1.28rem;
}

.subtitle__2 {
  color: var(--clr-tp__muted);
  font-size: 1.175rem;
}

.label {
  font-weight: 400;
  text-transform: uppercase;
  font-family: monospace;
  color: var(--clr-tp__muted);
  font-size: 1rem;
}

.sk-layout--content {
  padding: var(--spacing);
  max-width: 60ch;
  margin: 0 auto;
}

.sk-layout--content * {
  line-height: 1.45em;
}
