---
title: News
permalink: "/news/"
layout: page
---

{% slot 'sidebar' %}
{% include "quickies.njk" %}
{% endslot %}

<ul class="post-list">
    {% for post in collections.news %}
        <li>
            <a href="{{post.url}}">
                <h2>{{ post.data.title }}</h2>
                <time datetime="{{post.date}}">{{post.date | formatPostDate}}</time>
            </a>
        </li>
    {% endfor %}
</ul>