{% css "modules" %}
{% include "styles/modules/sidebar.css" %}
{% endcss %}

<aside class="base-sidebar">
    <nav class="sidebar-navigation">
        {% for link in nav.sidebarNav %}
            <a href="{{link.url}}" class="sidebar-navigation__item">{{link.title}}</a>
        {% endfor %}
    </nav>
</aside>