*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
menu[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul[class],
ol[class],
menu[class] {
  padding: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

canvas,
img,
picture,
svg {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
}

article *,
section * {
  line-height: 1.5;
}

article > * + *,
.content > * + * {
  margin-top: 1em;
}
iframe {
  border: 0;
}
input,
button,
textarea,
select {
  font: inherit;
}
button {
  cursor: pointer;
  background: none;
  border: none;
}
img:not([alt]) {
  filter: blur(10px);
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font: var(--font-size) var(--font-stack);
  background: var(--clr-sf__background);
  color: var(--clr-tp__body);
}

:root {
  --font-size: clamp(0.95rem, 0.95rem + 0.390625vw, 1rem);
  --spacing-xxsm: clamp(0.18rem, 0.18rem + 0.390625vw, 0.25rem);
  --spacing-xsm: clamp(0.3rem, 0.3rem + 0.390625vw, 0.5rem);
  --spacing-sm: clamp(0.5rem, 0.5rem + 0.390625vw, 0.75rem);
  --spacing: clamp(0.8rem, 0.8rem + 0.390625vw, 1rem);
  --page-breakpoint: 860px;
  --font-stack: "Geist", serif;
  color-scheme: light;
}

a {
  color: var(--clr-br__primary);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

/* Container for the website */
.site-container {
  max-width: var(--page-breakpoint);
  margin: 0 auto;
  background: var(--clr-sf__foreground);
}

/* header (title and slogan)*/
.site-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-sf__strokeLight);
  gap: var(--spacing-xsm);
  padding: var(--spacing-xsm) var(--spacing);
}

.site-header__title {
  transition: all 250ms ease-in-out;
}

.site-header__title:hover {
  scale: 1.05;
  filter: saturate(1.7) drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
}

.site-header__title:active {
  scale: 0.97;
}

/* main site navigation */
.site-navbar {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  padding: var(--spacing-xsm) 0;
}

.site-navbar__link {
  white-space: nowrap;
  flex-wrap: nowrap;
  min-width: fit-content;
  white-space: nowrap;
  font-weight: 500;
  padding: var(--spacing-xxsm) var(--spacing-sm);
  transition: 175ms ease-in-out all;
  color: var(--clr-tp__heading);
  text-decoration: none;
}

.site-navbar__link[aria-current="page"] {
  color: red;
}

.site-navbar__link:hover {
  border-radius: 0.5em;
  color: var(--clr-br__onSecondaryContainer);
}

/* footer */
.site-footer {
  padding: var(--spacing);
  border-top: 1px solid var(--clr-sf__stroke);
}
.footer-nav {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
  gap: var(--spacing);
}
.footer-nav-section-navbar {
  display: flex;
  flex-direction: column;
}
.footer-nav-section-navbar__link {
  color: #6d6d6d;
  font-size: 0.9em;
  line-height: 1.4;
}

.site-footer__copy {
  text-align: center;
}

.hero {
  display: grid;
  text-align: center;
  justify-items: center;
  padding: calc(var(--spacing) + var(--spacing));
  margin: 0 auto;
  max-width: 52ch;
}

.page-header {
  max-width: 60ch;
  margin: 0 auto;
  padding: var(--spacing) 0;
  border-bottom: 1px solid var(--clr-sf__stroke);
}

summary {
  cursor: pointer;
}
strong {
  font-weight: 800;
}

mark {
  background: hsla(224, 100%, 64%, 0.3);
  color: inherit;
}

@media (min-width: 860px) {
  .site-container {
    border-left: 1px solid var(--clr-sf__stroke);
    border-right: 1px solid var(--clr-sf__stroke);
  }
}

@media (max-width: 610px) {
  .site-header {
    justify-content: center;
  }
}
