:root {
  --bg: #141618;
  --accent: #efbb0a;
  --content-bg: #1c1e20;
  --container-bg: #272a2f;
  --container-border: #464d54;
  --container-dark: #181b1e;
  --text-color: #ffffff;
  --text-shadow: 0px 0px 5px var(--text-color);
  --text-dark-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  --radius: 4px;
  --breakpoint: 840px;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-color);
  background: var(--bg);
}

a {
  color: var(--accent);
}

a:hover {
  text-decoration: none;
}

h1,
h2 {
  color: var(--accent);
}

ion-icon {
  pointer-events: none;
  vertical-align: middle;
}

.wrapper {
  max-width: var(--breakpoint);
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 180px;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)),
    url(/assets/images/header_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-shadow: var(--text-dark-shadow);
}

audio {
  width: 100%;
  border-radius: var(--radius);
}

.audio--wrapper {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.audio--wrapper button {
  height: 36px;
}

button {
  display: flex;
  align-items: center;
  font: inherit;
  border: 1px solid var(--accent);
  border-radius: var(--radius);
  color: var(--text-color);
  background: var(--container-bg);
  height: fit-content;
  cursor: pointer;
  transition: all 150ms ease-in;
}

button:hover {
  background: var(--accent);
  color: var(--container-dark);
}

header *,
.cards .card *,
.box *,
article.post__meta *,
.link__card * {
  margin: 0;
  padding: 0;
}

nav.main--nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  padding: 0 0.5rem;
  background: var(--container-bg);
  border-bottom: 2px solid var(--container-border);
}

nav.main--nav ul a {
  display: inline-block;
  padding: 0.5rem 0.4rem;
  text-decoration: none;
  transition: all 150ms ease-in;
}

nav.main--nav ul a:hover,
nav.main--nav ul a[aria-current="page"] {
  color: var(--text-color);
  text-shadow: var(--text-shadow);
}

main {
  display: grid;
  gap: 1rem;
  background: var(--content-bg);
}

main section.content {
  padding: 1rem;
}

main aside.sidebar {
  padding: 1rem;
  background: var(--container-bg);
  border-top: 2px solid var(--container-border);
  overflow: hidden;
}

main aside.sidebar article {
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--container-dark);
}

main aside.sidebar article .webrings {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

main aside.sidebar article .webrings * {
  margin: 0;
  padding: 0;
}

main aside.sidebar article .webrings nav {
  display: flex;
  justify-content: space-around;
}

main section article.post__meta {
  display: grid;
  gap: 0.5rem;
  width: clamp(50%, 75%, 80%);
  text-align: center;
  margin: 0 auto;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--container-border);
}

.link--cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 0;
}

.link__card {
  display: flex;
  flex-direction: column;
}

.link__card ul {
  margin-left: 1.5rem;
  list-style: none;
}

.collection__list {
  display: grid;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
}

.collection__list li {
  padding: 0.5rem;
  border-radius: var(--radius);
  border: 1px solid var(--container-border);
  background: var(--container-dark);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.cards .card {
  display: flex;
  flex-direction: column;
}

.cards .card img {
  display: block;
  aspect-ratio: 1;
  border-radius: var(--radius);
  border: 1px solid var(--container-border);
}

blockquote {
  display: inline-block;
  border-left: 3px solid var(--accent);
  margin-left: 0;
  padding: 0.05rem 1rem;
  border-radius: var(--radius);
  background: var(--container-dark);
}

textarea {
  max-height: 200px;
  min-height: 50px;
  width: max-content;
  resize: vertical;
  color: var(--text-color);
  border: 1px solid var(--container-border);
  background: var(--container-dark);
}

nav.nav__cloud ul {
  margin: 0;
  padding: 0;
  gap: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer {
  text-align: center;
  padding: 1rem;
  border-top: 2px solid var(--container-border);
  background: var(--container-bg);
}

.box {
  padding: 0.5rem;
  border-radius: var(--radius);
  border: 2px dashed var(--accent);
}

ul.link__list {
  list-style: none;
}

ul.link__list li {
  display: flex;
  flex-direction: column;
}

ul.link__list li p {
  margin: 0.5rem 1rem;
}

@media only screen and (min-width: 700px) {
  .wrapper {
    margin: 1rem auto;
    border: 2px dashed var(--container-border);
    border-radius: 8px;
  }
  main {
    grid-template-columns: 1fr 275px;
  }
  main aside.sidebar {
    border-top: 0;
    border-left: 2px solid var(--container-border);
  }
  .cards,
  .link--cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
