:root {
  --color-page-bg: #141124;
  --color-stroke: rgba(44, 44, 44, 0.5);
  --color-border: rgba(255, 255, 255, 0.25);
  --color-content-bg: #171231;
  --color-container-bg: rgba(0, 0, 0, 0.3);
  --color-text: #f0f0f0;
  --color-text-subtle: rgba(255, 255, 255, 0.8);
  --color-accent: rgb(156, 86, 247);
  --color-secondary: rgb(43, 253, 172);
  --spacing-xxsm: 0.25rem;
  --spacing-xsm: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing: 1rem;
  --spacing-md: 1.25rem;
  --spacing-lg: 1.5rem;
  --spacing-xlg: 1.75rem;
  --spacing-xxlg: 2rem;
  --breakpoint: 920px;
  color-scheme: dark;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji",
    "Android Emoji", "EmojiOne Color", "Twemoji";
}

body {
  font-size: 1.05rem;
  background: var(--color-page-bg);
  color: var(--color-text);
}

a {
  color: var(--color-accent);
}

a:hover {
  color: var(--color-secondary);
  text-decoration: none;
}

p {
  text-indent: 16px;
}

::selection {
  color: black;
  background: var(--color-secondary);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

hr {
  border: none;
  border-bottom: 1px solid var(--color-text-subtle);
}

.subheading {
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;
}

/* Header & Navbar */
header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  gap: var(--spacing);
  padding: var(--spacing-sm);
}

.header--site--title {
  font-size: 1.5em;
  font-weight: 600;
}

.header--nav {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing);
}

.header--nav a {
  display: inline-block;
  padding: var(--spacing-xxsm) var(--spacing-sm);
  width: 100%;
  font-size: 1.05em;
  transition-duration: 100ms;
}

.header--nav a:hover,
.pod--navbar a:hover,
.pod--grid a:hover {
  border-color: var(--color-accent);
  background: none;
}

.container,
.pod,
.pod--links {
  border: 1px solid var(--color-stroke);
  box-shadow: inset 0px 0px 0px 1px var(--color-border);
  border-radius: 8px;
  background: var(--color-container-bg);
}

main {
  max-width: var(--breakpoint);
  margin: 0 auto;
  padding: var(--spacing);
}

.brand--background {
  background-color: #171231;
  background-image: linear-gradient(#281f57 1.3px, transparent 1.3px),
    linear-gradient(to right, #281f57 1.3px, #171231 1.3px);
  background-size: 26px 26px;
}

section h1 {
  font-size: 2em;
}

.post--meta {
  color: var(--color-text-subtle);
  padding-bottom: var(--spacing);
  font-size: 0.95em;
}

.grid--page {
  display: grid;
  gap: var(--spacing);
  grid-template-columns: 0.5fr 1fr;
  padding: var(--spacing) 0;
}

main .page--content {
  max-width: 70ch;
  margin: 0 auto;
  padding: var(--spacing) 0;
}
/* Image used for page banners like in services */
.banner {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  box-shadow: 0px 0px 8px 2px var(--color-container-bg);
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin: var(--spacing) 0;
  gap: var(--spacing);
}

.pod--title {
  display: flex;
  align-items: center;
  gap: var(--spacing-xsm);
  padding: var(--spacing-xxsm) var(--spacing-xsm);
  font-weight: 500;
  font-size: 1.05em;
  border-bottom: 1px solid var(--color-border);
}

.pod--content {
  padding: var(--spacing-xsm);
}

.pod--navbar {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xsm);
}

.pod--navbar a:not(.pod--more) {
  display: flex;
  gap: var(--spacing-xsm);
  align-items: center;
  padding: var(--spacing-xxsm) var(--spacing-xsm);
  text-decoration: none;
  transition-duration: 100ms;
}

.pod--more {
  margin: 0 auto;
}

.pod--list {
  margin: 0 var(--spacing-md);
  padding: var(--spacing);
}

.pod--list--small {
  display: grid;
  gap: var(--spacing-xsm);
  margin: 0 var(--spacing-md);
  padding: var(--spacing-xsm);
}

.li--tlevel a {
  display: block;
}

.li--tlevel span {
  font-size: 0.9em;
  color: var(--color-text-subtle);
}

.pod--grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing-xsm);
}

.pod--grid a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-sm);
  transition-duration: 100ms;
}

.subsection--grid {
  display: grid;
  gap: var(--spacing);
  grid-template-columns: repeat(2, 1fr);
}

footer {
  text-align: center;
  padding: var(--spacing-xsm);
  color: var(--color-text-subtle);
}

.flex {
  display: flex;
}

@media only screen and (max-width: 775px) {
  .mobile {
    display: none;
  }

  .grid--page {
    grid-template-columns: 1fr;
  }
  .sidebar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 590px) {
  .sidebar,
  .subsection--grid {
    grid-template-columns: 1fr;
  }
  .pod--grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
