h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  letter-spacing: -0.03em;
}

h1,
h2,
h3 {
  color: var(--clr-tp__heading);
}

/* TODO: Replace colors for the default sk-button and create other variants */
.sk-button {
  --_btn-sk-bg: var(--btn-sk-bg, hsl(0, 0%, 15%));
  --_btn-sk-border: var(--btn-sk-border, transparent);
  --_btn-sk-color: var(--btn-sk-color, rgb(240, 240, 240));
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: var(--spacing-sm);
  padding: 0.4em var(--spacing);
  background: var(--_btn-sk-bg);
  border: 1px solid var(--_btn-sk-border);
  color: var(--_btn-sk-color);
  border-radius: 0.5em;
  text-decoration: none;
  cursor: pointer;
  transition: 175ms all ease-in-out;
}

.sk-button:hover {
  --_btn-sk-bg-hover: var(--btn-sk-bg-hover, hsl(0, 0%, 95%));
  background: var(--_btn-sk-bg-hover);
  --_btn-sk-border-hover: var(--btn-sk-border-hover, rgba(31, 31, 31, 0.25));
  border-color: var(--_btn-sk-border-hover);
  --_btn-sk-color-hover: var(--btn-sk-color-hover, rgb(0, 0, 0));
  color: var(--_btn-sk-color-hover);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
}

.sk-button:active {
  scale: 0.95;
  opacity: 0.8;
  border-radius: 0.75em;
}

.sk-button:focus-within {
  outline: 4px solid var(--clr-br__primaryFluent);
}

.sk-button__primary {
  --btn-sk-bg: var(--clr-br__primary);
  --btn-sk-color: var(--clr-br__onPrimary);
  --btn-sk-border: var(--clr-br__primary);
  --btn-sk-bg-hover: var(--clr-br__onPrimary);
  --btn-sk-color-hover: var(--clr-br__primary);
  --btn-sk-border-hover: var(--clr-br__primary);
}

.sk-button-group {
  display: flex;
  gap: var(--spacing-xsm);
}

.sk-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  color: var(--clr-br__primary);
  transition: 175ms ease-in-out;
}

.sk-button-icon:hover {
  color: var(--clr-br__onPrimaryContainer);
}

.sk-header {
  position: sticky;
  z-index: 10;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--spacing);
  backdrop-filter: blur(16px);
  padding: var(--spacing-sm) var(--spacing);
  background: var(--clr-sf__backgroundFluent);
  border-bottom: 1px solid var(--clr-sf__stroke);
}

.sk-header__title {
  color: var(--clr-tp__heading);
  font-weight: 600;
  font-size: 1.075rem;
}

.sk-navbar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
}

.sk-navbar__link {
  font-size: 0.9em;
  color: var(--clr-tp__body);
}

.sk-navbar__link[aria-current="page"] {
  color: var(--clr-tp__muted);
  text-decoration: none;
}

/* acccordions */
.sk-accordion-nav__title {
  list-style-type: none;
  font-size: 0.95em;
  font-weight: 500;
  user-select: none;
}

.sk-accordion-nav__title::before {
  content: "\2716";
  font-size: 0.8em;
  margin-right: 0.5em;
  display: inline-block;
  rotate: 45deg;
  vertical-align: middle;
  color: var(--clr-tp__muted);
  transition: all 150ms ease-in-out;
}

.sk-accordion-nav[open] .sk-accordion-nav__title::before {
  rotate: 0deg;
}

.sk-accordion-nav[open] .sk-accordion-nav__title {
  margin-bottom: 0.5em;
}

/* TODO: Redesign */

sk-tab-container {
  display: block;
}

.sk-tab-content[aria-hidden="true"] {
  display: none;
}

menu.sk-tab-buttons {
  display: flex;
  width: fit-content;
  padding: 0.25em;
  border-radius: 0.3em;
  gap: var(--spacing-xsm);
  background: hsl(240, 5%, 94%);
}

.sk-tab-button {
  cursor: pointer;
  border-radius: 0.15em;
  font-weight: 500;
  color: #71717a;
  transition: 150ms all ease-in-out;
}

.sk-tab-button:disabled {
  opacity: 0.5;
  cursor: default;
}

.sk-tab-button:hover {
  color: var(--clr-tp__body);
}

.sk-tab-button[aria-checked="true"] {
  background: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  color: var(--clr-tp__heading);
}

sk-tab-content-container {
  display: block;
  padding: var(--spacing);
  margin-top: 1rem;
  border: 1px solid var(--clr-sf__stroke);
  border-radius: 0.75rem;
}

/* typography */
.display__1 {
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 1.13em;
  letter-spacing: -0.02em;
  color: var(--clr-tp__heading);
}

.display__2 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.272em;
  color: var(--clr-tp__heading);
}
.subtitle__1 {
  color: var(--clr-tp__muted);
  font-size: 1.28rem;
}

.subtitle__2 {
  color: var(--clr-tp__muted);
  font-size: 1.175rem;
}

.label {
  font-weight: 500;
  color: var(--clr-tp__heading);
  font-size: 1.15rem;
  border-bottom: 1px solid var(--clr-misc__outline);
}

.sk-layout--content {
  padding: var(--spacing);
  max-width: 60ch;
  margin: 0 auto;
}

/* modal component - DO NOT USE IN PRODUCTION, it's not valid in surfkit guidelines and does not fit SurfScape design language
  TODO: Redesign
*/
.sk-window {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  inset: 0;
  width: 100%; /* Full width */
  height: 100%;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  margin: 0;
}

.sk-modal {
  margin: 10% auto;
  border: 1px solid var(--clr-misc__outline);
  border-radius: 0.75rem;
  overflow: hidden;
  width: 48ch;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
}

.sk-headerbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.355);
  padding: var(--spacing-xxsm) var(--spacing-sm);
}

.sk-headerbar__title {
  font-size: 1.3rem;
  color: var(--clr-tp__body);
}

.sk-modal-content {
  background: rgba(255, 255, 255, 0.315);
  backdrop-filter: blur(20px) saturate(1.8);
  padding: var(--spacing-sm);
}

.sk--banner {
  border-radius: 1em;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--clr-tp__muted);
  padding: 0.25rem;
  border-radius: 100rem;
  color: var(--clr-tp__heading);
}

.close:hover {
  opacity: 0.75;
}
