/* SurfKit Default Light Theme (Snow) v1.0 */
:root {
  /* br : brand colors */
  --clr-br__primary: var(--clr-accent-test);
  --clr-br__onPrimary: hsl(0, 0%, 97%);
  --clr-br__primaryFluent: hsla(211, 100%, 50%, 0.5);
  /* surfaces */
  --clr-sf__background: hsl(0, 0%, 92%);
  --clr-sf__foreground: hsl(239, 20%, 96%);
  --clr-sf__backgroundFluent: hsla(0, 0%, 100%, 0.5);
  --clr-sf__stroke: hsl(0, 0%, 83%);
  --clr-sf__strokeLight: hsl(0, 0%, 89%);
  /* typography */
  --clr-tp__heading: #26275d;
  --clr-tp__body: hsl(0, 0%, 20%);
  --clr-tp__muted: hsl(0, 0%, 40%);
  --clr-accent-test: hsl(239, 65%, 50%);
}
