---
layout: page.njk
title: Directory [Beta]
update: 12 Feb, 2023
---

<div class="link--cards">
    {% for category, items in directory %}
        <div class="link__card">
            <h2>{{ category }}</h2>
            <ul>
                {% for item in items %}
                    <li>
                        <a href="{{ item.url }}">{{ item.name }}</a>
                        {% if item.privacy != false %}
                            <i title="Respect's user privacy">
                                <ion-icon name="lock-closed-outline"></ion-icon>
                            </i>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>

<ion-icon name="lock-closed-outline"></ion-icon>
= This service respects the user's privacy (as per my threat model)
<br/>