---
title: Home
layout: base.njk
style_slot: true
---

{% import "components/postCard.njk" as postCard %}

<div class="homepage-layout">
  <section class="hero">
    <div class="sk-infobox sk-infobox--warning sk-infobox--extras" style="max-width: 60ch;margin-inline: auto;">
      <ion-icon name="document"></ion-icon>
      <p>We've recently updated our <a href="/privacy-policy">privacy policy</a> to include a new service provider. The new changes <strong>will take effect in 30/06/2024</strong>.</p>
    </div>
    <a href="/news/welcome-the-new-surfscape/" class="sk-label">
      <ion-icon name="newspaper-outline"></ion-icon>Welcome the new SurfScape</a>
    <h1 class="hero--title display__1">Your Web, <span style="color: #9901F7;background: #0066FF;
background: linear-gradient(to right, #0066FF 0%, #9A00F7 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
">Your Way</span>
    </h1>
    <p class="hero--subtitle subtitle__1">
      Find resources on privacy, web building, Neocities, and more about the
      interwebs!
    </p>
    <img src="/static/images/banners/hero_values.png"
      alt="Grid with the value of SurfScape. Content: resources, services, foss, games, neocities, coding, bookmarks, web design"
      class="hero--banner">
    <sk-button-container>
      <a href="#explore" class="sk-button sk-button--primary">
        <ion-icon name="arrow-down-circle"></ion-icon>Explore</a>
      <a href="/about" class="sk-button">About the Project</a>
    </sk-button-container>
  </section>
  <section class="homepage-grid" id="explore">
    <h2 class="display__2" style="grid-column: 1 / -1;">Explore</h2>
    <section class="sk-card sk-card__bento" style="grid-column: 1 / 2;">
      <h3>Site Showcase</h3>
      <nav class="button-list">
        {% for site in cities.siteShowcase %}
          <a href="{{site.link}}" class="button-list__link">
            <img src="/static/images/buttons/{{site.button}}" width="88" height="31" alt="{{site.name}} button">
            {{site.name}}</a>
        {% endfor %}
      </nav>
    </section>
    <section class="sk-card sk-card__bento sk-card__outline news" style="grid-column: span;">
      <h3>Latest news</h3>
      <ul class="posts-list">
        {%- for new in collections.news | reverse -%}
          <li>
            <a href="{{ new.url }}" class="post-card">
              <h1 class="post-card-header">{{ new.data.title }}
                <time class="post-card__time" datetime="{{ new.data.date }}">{{ new.data.date | PostDate }}</time>
              </h1>
              <p class="post-card__description">{{ new.data.description }}</p>
            </a>
          </li>
        {%- endfor -%}
      </ul>
      <a href="/news" class="sk-button">See all news</a>
    </section>
    <section class="sk-card sk-card__bento sk-card__outline">
      <h3>SurfScape Friends</h3>
      <nav class="button-list">
        {% for site in cities.friends %}
          <a href="{{site.link}}" class="button-list__link">
            <img src="/static/images/buttons/{{site.button}}" width="88" height="31" alt="{{site.name}} button">
            {{site.name}}</a>
        {% endfor %}
      </nav>
    </section>
  </section>
</div>

{% slot 'style_slot' %}
<style>
  .hero {
    background: linear-gradient(to bottom, #e3e7fb, transparent);
    border-bottom: 1px solid var(--clr-sf__strokeLight);
  }

  .homepage-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(19rem, 100%), 1fr));
    padding: var(--spacing);
  }

  .button-list {
    display: flex;
    gap: 0.5em;
    flex-direction: column;
  }

  .button-list__link {
    display: flex;
    align-items: center;
    gap: 1em;
    transition: var(--an-global-fade);
  }

  .button-list__link:hover {
    scale: 0.975;
  }

  .news {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1em;
  }

  .post-card {
    all: revert;
    display: grid;
    gap: 0.25em;
    text-decoration: none;
    transition: var(--an-global-fade);
  }

  .post-card-header {
    display: flex;
    flex-direction: column;
  }

  .post-card:hover {
    outline: none;
    scale: 0.975;
  }
</style>
{% endslot %}