---
layout: empty.njk
permalink: "/octozilla.html"
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>OctoZilla</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light" />
    <meta name="CCBot" content="nofollow">
    <meta name="robots" content="noai, noimageai">
    <meta name="tdm-reservation" content="1">
    <style>
        body {
            background: rgb(15, 15, 15);
            color: rgb(15, 222, 49);
            font-family: monospace;
            max-width: 800px;
            margin: auto;
            font-size: 13px;
        }
    </style>
</head>

<body>
    <h1>OctoZilla</h1>
    <p>SurfScape initiative of the pirates and the 777 seas.</p>
    <hr>
    <p>Unaveilable at the moment.</p>
    <p>Error code: </p><code>SSIE: 0x53657276696365206e6f7420617661696c61626c65</code>
    <hr>
    <footer>
        <p>&copy; 2022 - 2024 OctoZilla Software</p>
        <small>Deployed Build: SXEOLF65</small>
    </footer>
</body>

</html>