<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    {% include "basehead.njk" %}
  </head>
  <body>
    <div id="wrapper">
      {% include "header.njk" %}
      <main class="content_grid">
        {% include "sidebar_left.njk" %}
        <div class="content">{{ content | safe }}</div>
        {% include "sidebar_nav.njk" %}
      </main>
      {% include "footer.njk" %}
    </div>
  </body>
</html>