<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    {% include "basehead.njk" %}
  </head>
  <body>
    <div class="wrapper">
      {% include "header.njk" %}
      <main>
        <section class="content">{{ content | safe }}</section>
        {% include "sidebar.njk" %}
      </main>
      {% include "footer.njk" %}
    </div>
  </body>
</html>