---
layout: base.njk
---

<main class="main--sidebar--layout">
    {% include "main_sidebar.njk" %}
    <section class="content--container main--content--container">
        {{ content | safe }}
    </section>
    {% include "inner_sidebar.njk" %}
</main>