---
layout: base.njk
---

{% block post_metadata %}
<section class="pod">
    <span class="aside_section_title pod_heading">Post Info</span>
    <article>
    {{ description }}
    </article>
  </section>
{% endblock %}

<div class="pod">

<h1 class="pod_heading">{{ title }} - {{ date | asPostDate }}</h1>

<article>
{{ content | safe }}
</article>

</div>