---
layout: base.njk
---

{% if date %}
  <article class="post__meta">
    <h2>{{ title }}</h2>
    <em>{{ date | asPostDate }}</em>
    <em>{{ update }}</em>
  </article>
{% else %}
  <h2>{{ title }}</h2>
{% endif %}

{{ content | safe }}

{% if update %}
  <em>last updated: {{ update }}</em>
{% endif %}