---
layout: base.njk
---

<div class="pod">

    <span class="pod_title">{{ title }}</span>

    <div class="article">
        <p>
            <em>Released on: </em>{{ date | asPostDate }}</p>
        {{ content | safe }}
    </div>

</div>