---
layout: base.njk
---

<div class="pod">

  <h2 class="pod_title">{{ title }}</h2>

  <div class="article">
    <p>
      <em>Released on: </em>{{ date | asPostDate }}</p>
    {{ content | safe }}
  </div>

</div>